body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    height: 100vh;
    color: #fff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.holder{
    width: 100%;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 20px;
    border-radius: 10px;
}

div#greeting {
    font-size: 27px;
}

#error {
    color: #ff0000;
    display: none;
    opacity: 0;
    transition: visibility 1s, opacity 1.5s linear;
}

#error.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1.5s linear;
}


#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    font-size: 3rem;
}
.title {
    font-weight: 600;
    font-size: 1.4rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:rgba(59, 74, 107, .4);
    color: #fff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #fff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 10px;
}
h1{
    font-size: 36px;
}

textarea{
    background:rgba(59, 74, 107, .4);
    color: #fff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    resize: vertical;
    max-height: 400px;
    border: 0;
    border-radius: 10px;
}

textarea#feelings {
    width: 100%;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 

/*Sky color gradients based on time of day*/
.dawn {
    background: rgb(110,90,164);
    background: linear-gradient(0deg, rgba(200,129,118,1) 0%, rgba(110,90,164,1) 100%);
}

.sunrise {
    background: rgb(237,218,132);
    background: linear-gradient(0deg, rgba(237,218,132,1) 0%, rgba(91,143,218,1) 40%, rgba(91,143,218,1) 100%);
}

.morning {
    background: rgb(148,204,253);
    background: linear-gradient(0deg, rgba(148,204,253,1) 0%, rgba(91,143,218,1) 100%);
}

.afternoon {
    background: rgb(126,187,232);
    background: linear-gradient(0deg, rgba(126,187,232,1) 0%, rgba(63,132,217,1) 100%);
}

.sunset {
    background: rgb(242,160,49);
    background: linear-gradient(0deg, rgba(242,160,49,1) 0%, rgba(201,84,59,1) 26%, rgba(127,81,121,1) 44%);
}

.dusk {
    background: rgb(222,125,70);
    background: linear-gradient(0deg, rgba(222,125,70,1) 0%, rgba(58,62,135,1) 53%);
}

.night {
    background: rgb(25,62,112);
    background: linear-gradient(0deg, rgba(25,62,112,1) 0%, rgba(11,18,39,1) 48%);
}
